#root,
html,
body {
    width: 100%;
    height: 100%;
}

button {
    background-color: white;
    border: none;
}

.input {
    border: 2px solid violet;
    outline: none;
    width: 25rem;
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 100rem;
    padding-left: 10px;
}

.Input_info {
    border: 2px solid #ddd;
    outline: none;
    width: 25rem;
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    padding-left: 10px;
}

.layout {
    width: 100%;
    height: 100%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    width: 18rem;
    display: flex;
    justify-content: space-around;
}

.btn {
    color: white;
    background-color: violet;
    width: 26rem;
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 100rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(171, 70, 183);
}

.subSentence {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/* calendar */

.react-calendar {
    width: 22rem;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 10px;
    padding: 1rem;
}

.react-calendar__navigation button {
    min-width: 44px;
    border-radius: 50rem;
    font-size: 15px;
}

.react-calendar__month-view abbr {
    color: rgb(33, 33, 33);
    text-decoration: none;
    padding-bottom: 1rem;
}

.react-calendar__month-view__weekdays__weekday {
    padding-bottom: 1rem;
    font-size: 13.5px;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"] {
    color: red;
}

.react-calendar__tile--now {
    background-color: rgb(0, 149, 87);

    abbr {
        color: white;
    }
}
.react-calendar__tile--active {
    
    background: #e6e6e6;
    color: white;
    border: 2px solid red;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #e6e6e6;
}
/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: rgb(0, 108, 63);
} */

.react-calendar__tile {
    padding: 13px 0px 13px;
    border-radius: 50rem;
}

/* todoList */

#todo_layout_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#todo_layout_2 {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    height: 30rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0px 8px 6px -6px #666;
}

#todoList {
    width: 22rem;
}

h3 {
    color: rgb(0, 149, 87);
}